.container-nextbutton {
	position: relative;
	display: flex;
	width: 83.33%;
	align-items: center;
	margin: 0.25rem auto;
	font-weight: bold;
	border-radius: 100px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.bg-container {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	border-radius: 100px;
}
.bg-right {
	left: 0;
	background-image: linear-gradient(to right, #f687b3, #9f7aea);
}
.bg-left {
	right: 0;
	background-image: linear-gradient(to left, #f687b3, #9f7aea);
}

.button-gradient {
	position: relative;
	width: 50%;
	padding: 0.25rem 0.5rem;
	background-color: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 0.8rem;
	font-family: 'Inter', 'sans-serif';
}
.text-purple {
	color: #6b46c1;
}
.text-white {
	color: #fff;
}
.button-gradient:focus {
	outline: none;
}
